body {
  background-color: darkcyan;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

footer {
  background-color: rgb(202, 238, 202);
}

h3 {
  background-color: darkgoldenrod;
}

.container {
  padding: 0 15px 0 15px ;
  border: 2cm solid brown;
  margin-top: 80px;
}